<div>
  <div class="separate-content">
    <h1>
      Pipeline <code><%= @pipeline.id %></code>
    </h1>

    <h2>
      <span class="status-pill big-pill <%= @pipeline.status %>">
        <%= @pipeline.status.gsub("_", "-") %>
      </span>
    </h2>
  </div>

  <article>
    <div class="separate-content">
      <div>
        <div class="metric-heading">
          <label>ID</label>
          <code><%= @pipeline.id %></code>
        </div>
        <div>
          <label>Class</label>
          <code>
            <%= link_to(@pipeline.klass, pipelines_path(klass: @pipeline.klass)) %>
          </code>
        </div>
      </div>

      <div>
        <div class="metric-heading">
          <label>Triggered At</label>
          <span>
            <%= @pipeline.triggered_at.iso8601(3) %>
          </span>
        </div>
        <div>
          <label>Step Count</label>
          <span>
            <%= @pipeline.steps.count %>
          </span>
        </div>
      </div>

      <div>
        <div class="metric-heading">
          <label>Last Advanced At</label>
          <span>
            <%= @pipeline.last_advanced_at.iso8601(3) %>
          </span>
        </div>
        <div>
          <label>Completed At</label>
          <span>
            <%= @pipeline.completed_at&.iso8601(3) %>
          </span>
        </div>
      </div>
    </div>

    <div style="margin-top: 1rem;">
      <label>Definition</label>
      <code>
        <%= @pipeline.parsed_definition %>
      </code>
    </div>
  </article>

  <h3>Steps</h3>

  <div class="separate-content">
    <div class="filter-group">
      <span class="filter-group-item">Filters:</span>

      <details class="dropdown filter-group-item">
        <summary><%= params[:klass] || "Class" %></summary>
        <ul>
          <% @klasses.each do |klass| %>
            <li>
              <%= link_to(klass, pipeline_path(@pipeline.id, **params.permit(:status).merge(klass: klass))) %>
            </li>
          <% end %>
        </ul>
      </details>

      <details class="dropdown filter-group-item">
        <summary><%= params[:status]&.gsub("_", "-") || "Status" %></summary>
        <ul>
          <% @statuses.each do |status| %>
            <li>
              <%= link_to(status.gsub("_", "-"), pipeline_path(@pipeline.id, **params.permit(:klass).merge(status:))) %>
            </li>
          <% end %>
        </ul>
      </details>

      <%= link_to("Clear", pipeline_path(@pipeline.id)) %>
    </div>

    <div role="group" style="width: auto;">
      <button <%= first_page? && "disabled" %> data-href="<%= previous_page_path %>">
        <%= link_to(previous_page_path, class: "stealthy-link") do %>
          &larr;
        <% end %>
      </button>
      <button data-href="<%= next_page_path %>">
        &rarr;
      </button>
    </div>
  </div>

  <article style="margin-bottom: 0px;">
    <div>
      <% @steps.each do |step| %>
        <details>
          <summary class="details-grid">
            <div class="grid">
              <div>
                <label>ID</label>
                <code>
                  <%= step.id %>
                </code>
              </div>

              <div>
                <label>Status</label>
                <div class="status-pill <%= step.status %>">
                  <%= step.status.gsub("_", "-") %>
                </div>
              </div>

              <div>
                <label>Transition</label>
                <code>
                  <%= step.to_transition == "default" ? "chain" : step.to_transition %>
                </code>
              </div>

              <div>
                <label>Errors</label>
                <% if (step.job.executions.count - 1).zero? %>
                  0
                <% else %>
                  <div class="errors">
                    <%= image_tag("ductwork/octagon-x.svg") %>
                    <%= step.job.executions.count - 1 %>
                  </div>
                <% end %>
              </div>

              <div>
                <label>Total Runtime</label>
                <% if step.completed_at.nil? %>
                  <div data-started-at=<%= step.started_at.iso8601 %>>
                    <span id="elapsed-timer">0h 0m 0s</span>
                  </div>
                <% else %>
                  <%= formatted_time_distance(step.started_at, step.completed_at) %>
                <% end %>
              </div>
            </div>
          </summary>

          <div>
            <div class="grid">
              <div>
                <label>Node</label>
                <code>
                  <%= step.node %>
                </code>
              </div>

              <div>
                <label>Class</label>
                <code>
                  <%= step.klass %>
                </code>
              </div>

              <div>
                <label>Started At</label>
                <div class="tight-timestamp">
                  <%= step.started_at.iso8601(3) %>
                </div>
              </div>

              <div>
                <label>Completed At</label>
                <div class="tight-timestamp">
                  <%= step.completed_at&.iso8601(3) %>
                </div>
              </div>

            </div>

            <div style="margin-top: 1rem;">
              <label>Executions</label>
              <table class="small-table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Attempt</th>
                    <th>Available At</th>
                    <th>Claimed At</th>
                    <th>Ran At</th>
                    <th>Completed At</th>
                    <th>Error</th>
                  </tr>
                </thead>

                <tbody>
                  <% step.job.executions.each do |execution| %>
                    <tr class="not-clickable">
                      <td>
                        <code>
                          <%= execution.id %>
                        </code>
                      </td>
                      <td><%= execution.retry_count + 1 %></td>
                      <td><%= execution.started_at.strftime("%H:%M:%S.%3N") %></td>
                      <td><%= execution.availability.completed_at&.strftime("%H:%M:%S.%3N") %></td>
                      <td><%= execution.run&.started_at&.strftime("%H:%M:%S.%3N") %></td>
                      <td><%= execution.completed_at&.strftime("%H:%M:%S.%3N") %></td>
                      <td>
                        <% if execution.result.present? && execution.result.failure? %>
                          <button data-open-modal="modal-<%= execution.result.id %>" class="tight-timestamp secondary">
                            Open
                          </button>

                          <dialog id="modal-<%= execution.result.id %>">
                            <article>
                              <header>
                                <button aria-label="Close" rel="prev" data-close-modal="modal-<%= execution.result.id %>"></button>
                                <p>
                                <strong>Error Backtrace</strong>
                                </p>
                              </header>
                              <div>
                                <h2>
                                  <%= execution.result.error_klass %>
                                </h2>
                                <h5>
                                  <%= execution.result.error_message %>
                                </h5>
                                <code>
                                  <%= execution.result.error_backtrace.split("\n").each do |line| %>
                                    <div><%= line %></div>
                                  <% end %>
                                </code>
                              </div>
                            </article>
                          </dialog>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </details>

        <hr/>
      <% end %>
    </div>
  </article>
</div>
